{% extends "index.html" %}
{% block content %}
<div class="display-1">Confirmed!</div>
<div class="row" style="min-height: 400px;">
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <!-- Import Mapbox GL JS -->
  <script src=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js></script>
  <link href=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css rel="stylesheet" />
  <!-- Import Turf and Polyline -->
<script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/mapbox-polyline/1.1.1/polyline.js></script>
<!-- Import Mapbox GL Directions -->
<script src=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js></script>
<link rel="stylesheet" href=https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css type="text/css" />
  <div id="map"></div>

  <script>
    mapboxgl.accessToken = '{{mapbox_token}}';
    const latOrig = parseFloat('{{job["latOrig"]}}');
    const lonOrig = parseFloat('{{job["lonOrig"]}}');
    const latDest = parseFloat('{{job["latDest"]}}');
    const lonDest = parseFloat('{{job["lonDest"]}}');
    const map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/streets-v11', // Specify which map style to use
      center: [lonOrig, latOrig],
      zoom: 11 // Specify the starting zoom
    });

    const directions = new MapboxDirections({
      accessToken: mapboxgl.accessToken,
      unit: 'metric',
      profile: 'mapbox/driving',
      alternatives: false,
      geometries: 'geojson',
      controls: { instructions: false, inputs: false },
      flyTo: false,
      interactive: false
    });
      

      map.addControl(directions, 'top-right');

      map.on('load',  function() {
        directions.setOrigin([lonOrig,latOrig]);
        directions.setDestination([lonDest,latDest]);
      });

      map.scrollZoom.enable();

      map.addSource('theRoute', {
        type: 'geojson',
        data: {
          type: 'Feature'
        }
      });
 
      map.addLayer({
        id: 'theRoute',
        type: 'line',
        source: 'theRoute',
        layout: {
          'line-join': 'round',
          'line-cap': 'round'
        },
        paint: {
          'line-color': '#cccccc',
          'line-opacity': 0.5,
          'line-width': 13,
          'line-blur': 0.5
        }
      });
  </script>
</div>




<div class="card mb-3" >
  <div class="row g-0">
    <div class=" row card-header">
      <div class="col-sm-4">
        <h1 class="display-1">{{"$%d"|format(job["offer"])}}</h1>
      </div>
      <div class="col-sm-6">
        {% if distTo < 1 %}
          <div class="display-5">{{"%.2f"|format(distTo)}}mi trip</div>  
        {% else %}
          <div class="display-5">{{"%d"|format(distTo)}}mi trip</div>   
        {% endif %}
        
      </div>
      <div class="col-2 ">
      </div>
      
    </div>
    <div class="col">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <p class="card-text"><strong>Notes: </strong><br>{{job["notes"]}}</p>
          </div>
          <div class="col-md-4">
            <ul class="list-group list-group-flush ">
            
              <li class="list-group-item"><strong>Size: </strong>{{job["size"]}}</li>
              <li class="list-group-item"><strong>Weight: </strong>{{job["weight"]}}</li> 
              <li class="list-group-item"><strong>Covered: </strong>{{job["covered"]}}</li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}