{% extends "index.html" %}
{% block content %}
<p>Pikup needs your location to get available jobs near you. We won't share it with anyone</p>

<button onclick="getLocation()">Find me</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setLocCookies);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function setLocCookies(position) {
  document.cookie = "userLat=" + position.coords.latitude; 
  document.cookie = "userLon=" + position.coords.longitude;
  window.location.href = "/available";
}
</script>
{% endblock %}